/build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile
*.sln
*.vcxproj*
*.user
*.obj
*.pdb
*.ilk
/bin/
/lib/
*.exe
*.dll
*.so
*.dylib
/vcpkg_installed/
/.vscode/
/.idea/
/out/
/.vs/
/CMakeUserPresets.json
/cmake-build-debug/
